<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funds</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 300px; height: 100px; margin: 50px;">
                <center style="margin: 10px 10px auto 10px;">
                    <font size = 5 class="text-muted">₹ <%=funds.dummyFund%></font>
                    <br>
                    <font size = 3><b>Dummy Fund</b></font>
                </center>
            </div>
        
            <div class="card" style="width: 300px; height: 100px; margin: 50px;">
                <center style="margin: 10px 10px auto 10px;">
                    <font size = 5 class="text-muted">₹ <%=funds.realFund%></font>
                    <br>
                    <font size = 3><b>Real Fund</b></font>
                </center>
            </div>
        </div>

        <div class="col-md-9">
            <table style="width: 800px; margin: 50px;" class="table table-hover" style="text-align: center;">
                <tr>
                    <td><b>Order ID</b></td>
                    <td><b>Fund Type</b></td>
                    <td><b>Amount</b></td>
                    <td><b>Time</b></td>
                </tr>

                <tr>
                    <td>476434</td>
                    <td>Dummy</td>
                    <td style="color: green">₹500</td>
                    <td class="text-muted">5th March 2021</td>
                </tr>

                <tr>
                    <td>589213</td>
                    <td>Dummy</td>
                    <td style="color: red">₹215</td>
                    <td class="text-muted">7th March 2021</td>
                </tr>

                <tr>
                    <td>899212</td>
                    <td>Dummy</td>
                    <td style="color: red">₹115</td>
                    <td class="text-muted">7th March 2021</td>
                </tr>

                <tr>
                    <td>476434</td>
                    <td>Real</td>
                    <td style="color: green">₹200</td>
                    <td class="text-muted">9th March 2021</td>
                </tr>

                <tr>
                    <td>476434</td>
                    <td>Dummy</td>
                    <td style="color: green">₹170</td>
                    <td class="text-muted">8th March 2021</td>
                </tr>

                <tr>
                    <td>476434</td>
                    <td>Real</td>
                    <td style="color: red">₹200</td>
                    <td class="text-muted">11th March 2021</td>
                </tr>
            </table>
        </div>
    </div>
   
</body>
</html>